:host {
  --ui-tree-indent: 16px;
  --ui-tree-gutter: 0px;

  display: block;
  min-inline-size: 0;
  padding-inline-start: var(--ui-tree-gutter);
}

::slotted(ui-tree-item) {
  --ui-tree-indent: inherit;
}
