:root {
  --ifm-color-primary: #385cff;
  --ifm-color-primary-dark: #2f4fe5;
  --ifm-color-primary-darker: #2946cc;
  --ifm-color-primary-darkest: #223bad;
  --ifm-color-primary-light: #5271ff;
  --ifm-color-primary-lighter: #6c86ff;
  --ifm-color-primary-lightest: #91a5ff;
  --ifm-code-font-size: 0.92rem;
}

[data-theme="dark"] {
  --ifm-color-primary: #91a5ff;
}
